{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Schedule an Assignment/Test</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Scheduler</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Schedule an Assignment/Test</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Fill in the Details</h5>
                            </div>
                            <div class="card-body">
                                <hr>
                                <div class="row">
                                
                                    <div class="col-md-6">
                                        <h4>Whatsapp</h4>
                                        <form method="POST" action="WAForm">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label>Subject</label>
                                                <input type="text" class="form-control" placeholder="Text" name="WA_subject" id="WA_subject">
                                            </div>
                                            <div class="form-group">
                                                <label for="WA_Select">Example select</label>
                                                <select class="form-control" name="WA_Select" id="WA_Select">
                                                    <option>7th Class</option>
                                                    <option>8th Class</option>
                                                    <option value="none" selected disabled hidden>--Select--</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="WA_Text">Enter Text</label>
                                                <textarea class="form-control" name="WA_Text" id="WA_Text" rows="3"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <h4>SMS</h4>
                                        <form action="SMSForm">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label>Subject</label>
                                                <input type="text" class="form-control" name="SMS_Subject" placeholder="Text" id="SMS_subject">
                                            </div>
                                            <div class="form-group">
                                                <label for="SMS_Select">Example select</label>
                                                <select class="form-control" name="SMS_Select" id="SMS_Select">
                                                    <option>7th Class</option>
                                                    <option>8th Class</option>
                                                    <option value="none" selected disabled hidden>--Select--</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="SMS_Text">Enter Text upto 160 character.</label>
                                                <textarea class="form-control" name="SMS_Text" id="SMS_Text" rows="3"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
